@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

nav {
  position: fixed;
  top: 10px;
  bottom: 0;
  height: auto;
  background: #ffffff;
  width: 280px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  margin-bottom: 10px;
  overflow-x: scroll;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}


.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}


a:hover {
  background: #eee;
}

.logout {
  position: relative;
  bottom: 0;
}

/*Nav Bar close*/


/* Main Section */
/* .main{
  position: relative;
  padding: 20px;
  width: 100%;
  margin-top: -10px;
}
.main-top{

  width: 200px;

}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills{
  display: flex;
  margin-top: 20px;
}
.main-skills .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 12px;
}
.main-skills .card button{
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;

} */



/* CSS styles */

h2 {
  text-align: right;
  font-size: 37px;
  font-family:serif;
  margin-top: 50px;
  margin-right: 450px;
  /* margin-left: 500px; */
}

.input-box {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-left: 1000px;
}

table {
  width: 1100px;
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: 330px;
  margin-right: 50px;
}

th,td {
  border: 2px solid #0000009c;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
background-color: #3d7bec;
}

tr:hover {
background-color: #517ee7;
}


/* download button */

.download-button {
  background-color: #007bff; /* Blue color, you can change it to your preferred color */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 30px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  margin-left: 1060px;
  margin-top: 30px;
  width: 300px;
}

.download-button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

.dropdown-container{
  width: 450px;
  margin-left: -20px;
  margin-right: 0px;
}

/* For screens up to 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
  nav {
      width: 250px; 
  }

  h2{
    margin-left: 350px;
  }

  .dropdown-container{
    width: 350px;
    margin-left: -720px;
  }

  .download-button {
    margin-top: 20px;
    margin-left: 310px;
 
  }

  .table{
    margin-left: -50px;
  }
}